<link rel="stylesheet" href="/css/_footer.css">
<footer id="footer">
    <h3 id="footer-heading">About us</h3>

    <p id="description">
        Our app features a team of experienced and highly skilled doctors, nurses, and 
        healthcare professionals from the Sikkim Manipal Institute of Medical Sciences.
        Our team works tirelessly to ensure that you receive the best possible care 
        and treatment, utilizing the latest medical technologies and techniques.
        As a student, your health is of utmost importance, and we understand the 
        importance of taking care of your physical, mental, and emotional well-being. 
        Our goal is to empower you with the tools and resources you need to maintain 
        good health and well-being, so you can focus on your studies and achieve your goals.
    </p>

    <div id="circles">
        <!-- <img src="Home Page Health App - Edited.png" alt="button-unavailable" width="150"> -->
        <a href="#">
            <div class="footer-links-icon"></div>
        </a>
        <a href="#">
            <div class="footer-links-icon"></div>
        </a>
        <a href="#">
            <div class="footer-links-icon"></div>
        </a>
    </div>

    <p id="copyright"><a href="#">Copyright2023</a>&nbsp;&nbsp;&nbsp;<a href="#">Privacy Policy</a></p>
</footer>