<footer class="second-div">
    <h3 class="footer-heading">About us</h3>

    <p class="description">
        To help your employees engage in their health, each person is matched to a health care team and given recommendations on well-being programs.,<br>
         Consumer advocates work to eliminate any obstacles a member may face in accessing or receiving necessary treatment.<br>
         To help make benefit administration easier for you and your employees, we manage all aspects of your health plan including efficient claims processing and integration
          with your wellness programs. <br>
    </p>

    <div class="circles">
        <img src="Home Page Health App - Edited.png" alt="ending" width="150">
    </div>

    <p  class="two">Copyright 2023 &nbsp;&nbsp;&nbsp;&nbsp;Privacy Policy</p>
</footer>