<link rel="stylesheet" href="/css/_footer.css">
<footer id="footer">
    <h3 id="footer-heading">About us</h3>

    <p id="description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum iure odio eum quisquam, nobis dolore totam
        officiis soluta necessitatibus mollitia, delectus minima ea nam praesentium. Est quidem sit iste harum.
        Iure magnam iusto sit aliquid et perferendis illo ratione id excepturi ullam esse, ipsa quia modi cumque ad quod
        adipisci omnis dolorem, rerum rem dignissimos? Quo eum dolores quis sapiente.
    </p>

    <div id="circles">
        <!-- <img src="Home Page Health App - Edited.png" alt="button-unavailable" width="150"> -->
        <a href="#">
            <div class="footer-links-icon"></div>
        </a>
        <a href="#">
            <div class="footer-links-icon"></div>
        </a>
        <a href="#">
            <div class="footer-links-icon"></div>
        </a>
    </div>

    <p id="copyright">Copyright 2023&nbsp;&nbsp;&nbsp;Privacy Policy</p>
</footer>