<link rel="stylesheet" href="/css/_header.css">
<!-- Header section -->
<header id="header">
    <div class="left-div">
        <a href="/"><span class="logo"><span>SMIT-</span>eHealth</span></a>
        <ul class="horizontal-list">
            <li><a href="/">Home</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>
    </div>
    <div class="right-div">
        <ul class="horizontal-list button">
            <li class="sign"><a href="/users/sign-in">Sign In</a></li>
            <li class="reg"><a href="/users/sign-up">Register</a></li>
        </ul>
    </div>
</header>