<!-- Linking CSS File Here -->
<link rel="stylesheet" href="/css/_header.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined">

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> -->
    
<!-- Header section -->
<header id="header">
    <span class="logo"><span>e-</span>Health</span>
    <ul class="horizontal-list">
      <li><a href="">Home</a></li>
      <li><a href="">Company</a></li>
      <li><a href="">Services</a></li>
      <li><a href="">Contact Us</a></li>
    </ul>
    <ul class="header-icons">
        <li><a href=""><i class="material-icons">calendar_month</i></a></li>
        <li><a href=""><i class="material-icons">local_mall</i></a></li>
        <li><a href=""><i class="material-icons">account_circle</i></a>
          <!-- Toggle menu for account_circle -->
          <ul class="toggle-menu">
                <li><a href=""><i class="material-icons">edit</i> Edit Profile</a></li>
                <li><a href=""><i class="material-icons">help_outline</i> Help & Support</a></li>
                <li><a href="/users/sign-out"><i class="material-icons">logout</i> Logout</a></li>
          </ul>
        </li>
    </ul>
</header>  

<script>
  // Get the account_circle icon and toggle menu
  var accountIcon = document.querySelector('.header-icons li:last-child a');
  var toggleMenu = document.querySelector('.toggle-menu');

  accountIcon.addEventListener('click', function() {
    if (toggleMenu.style.display === 'none') {
      toggleMenu.style.display = 'block';
    } else {
      toggleMenu.style.display = 'none';
    }
  });
</script>