<link rel="stylesheet" href="/css/_header.css">
<!-- Header section -->
<header id="header">
    <span class="logo"><span>e-</span>Health</span>
    <ul class="horizontal-list">
        <li><a href="">Home</a></li>
        <li><a href="">Company</a></li>
        <li><a href="">Services</a></li>
        <li><a href="">Contact Us</a></li>
    </ul>
    <ul class="horizontal-list button">
        <li class="sign"><a href="">Sign In</a></li>
        <li class="reg"><a href="">Register</a></li>
    </ul>
</header>