<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Health App</title>

    <!-- Linking CSS File Here -->
    <link rel="stylesheet" href="../assets/scss/_home.css">
    <link href="../assets/css/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>

    <!-- Services Starts Here-->
    <section class="services">
        <h1>SERVICES</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure molestias pariatur porro<br> rem inventore atque
            exercitationem laborum quos quibusdam earum.
        </p>
    
        <div class="row">
            <div class="service-col-1">
                <img class="tooth-image" src="../assets/images/tooth.png" alt="tooth.img">
                <h3>Medical</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                    praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                    voluptate asperiores error ratione commodi?</p>
            </div>
            <div class="service-col-1">
                <img class="tooth-image" src="../assets/images/tooth.png" alt="tooth.img">
                <h3>Medical</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                    praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                    voluptate asperiores error ratione commodi?</p>
            </div>
            <div class="service-col-1">
                <img class="tooth-image" src="../assets/images/tooth.png" alt="tooth.img">
                <h3>Medical</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                    praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                    voluptate asperiores error ratione commodi?</p>
            </div>
        </div>

        <div class="row">
            <div class="service-col-2">
                <img class="tooth-image" src="../assets/images/tooth.png" alt="tooth.img">
                <h3>Medical</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                    praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                    voluptate asperiores error ratione commodi?</p>
            </div>
            <div class="service-col-2">
                <img class="tooth-image" src="../assets/images/tooth.png" alt="tooth.img">
                <h3>Medical</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                    praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                    voluptate asperiores error ratione commodi?</p>
            </div>
            <div class="service-col-2">
                <img class="tooth-image" src="../assets/images/tooth.png" alt="tooth.img">
                <h3>Medical</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                    praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                    voluptate asperiores error ratione commodi?</p>
            </div>
        </div>
    </section>
    <!-- Services Ends Here -->

    <!-- About Us Section Starts here -->

    <div id="abt-us-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 center-alignment">
                    <div class="about-us-image abt-part-1 center-alignment">
                        <img id="abt-img" src="../assets/images/img.jpg" alt="Doctors and medical researchers">
                    </div>
                    <div id="about-us-postcard">
                        <div id="status-adjustment">
                            <div id="status-color"></div>
                        </div>
                        <div id="doc-pic">
                            <img id="abt-doc" src="../assets/images/doc.jpg" alt="doctor">
                        </div>
                        <h3>Dr. Mathur</h3>
                        <div class="abt-text-color">
                            <p>CEO, e-Health</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 center-alignment" id="abt-part-2">
                    <h3 class="abt-text-color" id="abt-us-abt-us-text">About Us</h3>
                    <h1 id="abt-us-main-text">A dedicated doctor with a core mission to help</h1>
                    <h2 class="abt-text-color abt-us-sub-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, corrupti.</h2>
                    <h2 class="abt-text-color abt-us-sub-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, aut?</h2>
                    <div id="abt-us-btn">
                        <div id="apt-btn">
                            <a class="a-tag-adjustment" href="#"><h4 id="apt-btn-text">Book an Appointment</h4></a>
                        </div>
                        <div id="abt-btn">
                            <a class="a-tag-adjustment" href="#"><h4 id="abt-btn-text">About Us</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Us Section Ends here -->

</body>
</html>

