<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Health App</title>

    <!-- Linking CSS File Here -->
    <link rel="stylesheet" href="../assets/scss/_home.css">
</head>
<body>

    <!-- Services Starts Here-->
    <section class="services">
        <h1>SERVICES</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure molestias pariatur porro<br> rem inventore atque
            exercitationem laborum quos quibusdam earum.
        </p>
    
        <div class="row">
            <div class="service-col-1">
                <img class="tooth-image" src="../assets/images/tooth.png" alt="tooth.img">
                <h3>Medical</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                    praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                    voluptate asperiores error ratione commodi?</p>
            </div>
            <div class="service-col-1">
                <img class="tooth-image" src="../assets/images/tooth.png" alt="tooth.img">
                <h3>Medical</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                    praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                    voluptate asperiores error ratione commodi?</p>
            </div>
            <div class="service-col-1">
                <img class="tooth-image" src="../assets/images/tooth.png" alt="tooth.img">
                <h3>Medical</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                    praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                    voluptate asperiores error ratione commodi?</p>
            </div>
        </div>

        <div class="row">
            <div class="service-col-2">
                <img class="tooth-image" src="../assets/images/tooth.png" alt="tooth.img">
                <h3>Medical</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                    praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                    voluptate asperiores error ratione commodi?</p>
            </div>
            <div class="service-col-2">
                <img class="tooth-image" src="../assets/images/tooth.png" alt="tooth.img">
                <h3>Medical</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                    praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                    voluptate asperiores error ratione commodi?</p>
            </div>
            <div class="service-col-2">
                <img class="tooth-image" src="../assets/images/tooth.png" alt="tooth.img">
                <h3>Medical</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                    praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                    voluptate asperiores error ratione commodi?</p>
            </div>
        </div>
    </section>
    <!-- Services Ends Here -->

</body>
</html>

