<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/_select-doctor.css">
    <title>Document</title>
</head>
<body>
    <section id="select-doc-header-text">
        <div id="select-header-1">
            <img id="select-header-line" src="../assets/images/Line_1.png">
            <h3 class="select-about-text" id="select-header-text">BOOK AN APPOINTMENT WITH SMILE</h3>
        </div>
        <h1 id="select-header-2">Book Appointment</h1>
    </section>
    <div id="doc-selection">
        <h3 class="select-about-text">SELECT DOCTOR</h3>
        <section id="doc-list">
            <div class="doc-id">
                <input type="radio" name="doc-select" class="doc-select"/>
                <img src="../assets/images/doc-1.jpg" alt="Doctor " class="image">
                <div class="doc-info">
                    <h1 class="doc-name">Rajesh Chaturvedi</h1>
                    <h3 class="doc-type">Dentist</h3>
                </div>
            </div>
            <div class="seperation-doc"></div>
            <div class="doc-id">
                <input type="radio" name="doc-select" class="doc-select"/>
                <img src="../assets/images/doc-2.jpg" alt="Doctor " class="image">
                <div class="doc-info">
                    <h1 class="doc-name">Alex Mark</h1>
                    <h3 class="doc-type">Cardiologist</h3>
                </div>
            </div>
            <div class="seperation-doc"></div>
            <div class="doc-id">
                <input type="radio" name="doc-select" class="doc-select"/>
                <img src="../assets/images/doc-3.jpg" alt="Doctor " class="image">
                <div class="doc-info">
                    <h1 class="doc-name">Rajesh Chaturvedi</h1>
                    <h3 class="doc-type">Dentist</h3>
                </div>
            </div>
            <div class="seperation-doc"></div>
            <div class="doc-id">
                <input type="radio" name="doc-select" class="doc-select"/>
                <img src="../assets/images/doc-4.jpg" alt="Doctor " class="image">
                <div class="doc-info">
                    <h1 class="doc-name">Rajesh Chaturvedi</h1>
                    <h3 class="doc-type">Dentist</h3>
                </div>
            </div>
        </section>
        <div id="show-more-doc">
            <a href="#"><h3 id="show-more-doc-text">SHOW DOCTORS</h3></a>
        </div>
    </div>
</body>
</html>