<link rel="stylesheet" href="/css/styles.css">

<!-- About Us Section Starts here -->

<div id="abt-us-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 center-alignment">
          <div class="about-us-image abt-part-1 center-alignment">
            <img id="abt-img" src="/images/img.jpg" alt="Doctors and medical researchers">
          </div>
          <div id="about-us-postcard">
            <div id="status-adjustment">
              <div id="status-color"></div>
            </div>
            <div id="doc-pic">
              <img id="abt-doc" src="/images/doc-5.png" alt="doctor">
            </div>
            <h3>Dr. Rohan Shrivastava</h3>
            <div class="abt-text-color">
              <p>MBBS</p>
              <p>Sikkim Manipal Institute of Technology</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 center-alignment" id="abt-part-2">
          <h3 class="abt-text-color" id="abt-us-abt-us-text">About Us</h3>
          <h1 id="abt-us-main-text">A dedicated doctor with a core mission to keep the SMIT premises healthy.</h1>
          <h2 class="abt-text-color abt-us-sub-text">Expert Doctors from <br> Sikkim Manipal Institute of Technology
          </h2>
          <h2 class="abt-text-color abt-us-sub-text">At your convenience from home's distance,<br>being just a click
            away!</h2>
          <div id="abt-us-btn">
            <a href="/appointment/book-appointment" id="apt-btn">
              Book an Appointment
            </a>
            <div id="abt-btn">
              About Us
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- About Us Section Ends here -->