<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment</title>
    <link rel="stylesheet" href="../assets/css/appointment.css" />
  </head>
  <body>
    <form>
      <div class="slot_picker">
        <h4 id="title">SELECT TIME SLOT</h4>
        <div class="day">
          <h4 class="date">MARCH 2O</h4>
          <div class="select">
            <ul>
              <li><div class="time">11 AM</div></li>
              <li><div class="time">1 AM</div></li>
              <li><div class="time">3 AM</div></li>
              <li><div class="time">5 AM</div></li>
              <li><div class="time">7 AM</div></li>
            </ul>
          </div>
        </div>
        <div class="day">
          <h4 class="date">MARCH 21</h4>
          <div class="select">
            <ul>
              <li><div class="time">11 AM</div></li>
              <li><div class="time">1 AM</div></li>
              <li><div class="time">3 AM</div></li>
              <li><div class="time">5 AM</div></li>
              <li><div class="time">7 AM</div></li>
            </ul>
          </div>
        </div>
        <div class="day">
          <h4 class="date">MARCH 22</h4>
          <div class="select">
            <ul>
              <li><div class="time">11 AM</div></li>
              <li><div class="time">1 AM</div></li>
              <li><div class="time">3 AM</div></li>
              <li><div class="time">5 AM</div></li>
              <li><div class="time">7 AM</div></li>
            </ul>
          </div>
        </div>
        <h4 id="calendar">SHOW CALENDAR</h4>
      </div>
    </form>
  </body>
</html>
