<link rel="stylesheet" href="/css/_select-doctor.css">

<section id="select-doc-header-text">
    <div id="select-header-1">
        <img id="select-header-line" src="/images/Line_1.png">
        <h3 class="select-about-text" id="select-header-text">BOOK AN APPOINTMENT WITH SMILE</h3>
    </div>
    <h1 id="select-header-2">Book Appointment</h1>
</section>
<form method="POST" action="/appointment/create-appointment">
<div id="doc-selection">
    <h3 class="select-about-text">SELECT DOCTOR</h3>
    <section id="doc-list">
        <div class="doc-id">
            <input type="radio" name="doctor" class="doc-select" value="Rohan Shrivastava"/>
            <img src="/images/doc-1.jpg" alt="Doctor " class="image">
            <div class="doc-info">
                <h1 class="doc-name" name="" value="">Rohan Shrivastava</h1>
                <h3 class="doc-type">Dentist</h3>
            </div>
        </div>
        <div class="seperation-doc"></div>
        <div class="doc-id">
            <input type="radio" name="doctor" class="doc-select" value="Rimjhim Shrivastava"/>
            <img src="/images/doc-2.jpg" alt="Doctor " class="image">
            <div class="doc-info">
                <h1 class="doc-name" name="" value="">Rimjhim Shrivastava</h1>
                <h3 class="doc-type">Cardiologist</h3>
            </div>
        </div>
        <div class="seperation-doc"></div>
        <div class="doc-id">
            <input type="radio" name="doctor" class="doc-select" value="Rajsekhor Saikia"/>
            <img src="/images/doc-3.jpg" alt="Doctor " class="image">
            <div class="doc-info">
                <h1 class="doc-name" name="" value="">Rajsekhor Saikia</h1>
                <h3 class="doc-type">Dentist</h3>
            </div>
        </div>
        <div class="seperation-doc"></div>
        <div class="doc-id">
            <input type="radio" name="doctor" class="doc-select" value="Abhishek Kumar Jha"/>
            <img src="/images/doc-4.jpg" alt="Doctor " class="image">
            <div class="doc-info">
                <h1 class="doc-name" name="" value="">Abhishek Kumar Jha</h1>
                <h3 class="doc-type">Dentist</h3>
            </div>
        </div>
    </section>
    <div id="show-more-doc">
        <a href="#">
            <h3 id="show-more-doc-text">SHOW DOCTORS</h3>
        </a>
    </div>
</div>




<!-- Select time slot section  -->
  <div class="slot_picker">
    <h4 id="title">SELECT TIME SLOT</h4>
    <div class="day">
      <h4 class="date">MARCH 2O</h4>
      <div class="select">
        <ul>
          <li><div><button type="button" class="time" id="b11" onclick="clicked(this.id)" value="11">11:00</button></div></li>
          <li><div><button type="button" class="time" id="b12" onclick="clicked(this.id)" value="13">13:00</button></div></li>
          <li><div><button type="button" class="time" id="b13" onclick="clicked(this.id)" value="15">15:00</button></div></li>
          <li><div><button type="button" class="time" id="b14" onclick="clicked(this.id)" value="17">17:00</button></div></li>
          <li><div><button type="button" class="time" id="b15" onclick="clicked(this.id)" value="19">19:00</button></div></li>
        </ul>
      </div>
    </div>
    <div class="day">
      <h4 class="date">MARCH 21</h4>
      <div class="select">
        <ul>
            <li><div><button type="button" class="time" id="b21" onclick="clicked(this.id)" value="11">11:00</button></div></li>
            <li><div><button type="button" class="time" id="b22" onclick="clicked(this.id)" value="13">13:00</button></div></li>
            <li><div><button type="button" class="time" id="b23" onclick="clicked(this.id)" value="15">15:00</button></div></li>
            <li><div><button type="button" class="time" id="b24" onclick="clicked(this.id)" value="17">17:00</button></div></li>
            <li><div><button type="button" class="time" id="b25" onclick="clicked(this.id)" value="19">19:00</button></div></li>
        </ul>
      </div>
    </div>
    <div class="day">
      <h4 class="date">MARCH 22</h4>
      <div class="select">
        <ul>
            <li><div><button type="button" class="time" id="b31" onclick="clicked(this.id)" value="11">11:00</button></div></li>
            <li><div><button type="button" class="time" id="b32" onclick="clicked(this.id)" value="13">13:00</button></div></li>
            <li><div><button type="button" class="time" id="b33" onclick="clicked(this.id)" value="15">15:00</button></div></li>
            <li><div><button type="button" class="time" id="b34" onclick="clicked(this.id)" value="17">17:00</button></div></li>
            <li><div><button type="button" class="time" id="b35" onclick="clicked(this.id)" value="19">19:00</button></div></li>
        </ul>
      </div>
    </div>
    <h4 id="calendar">SHOW CALENDAR</h4>
  </div>
  <div class="hidden-date-object">
    <input type="text" name="timing" value="" id="hdo" placeholder="dateobject">
  </div>
  <input type="submit" value="Submit">
</form>
<script src="/javascript/appointment.js"></script>