<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calling</title>
    <link rel="stylesheet" href="../assets/scss/calling.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="call">
      <div id="call-head">
        <img src="../assets/images/menu_vertical.png" alt="" />
        <div>
          <div id="call-nam">Rajesh Chaturvedi</div>
          <div class="call-device">Mobile</div>
        </div>
      </div>

      <div id="rem">
        <img src="../assets/images/bell.png" alt="" />
        <div class="call-device">Reminder</div>
      </div>
    </section>

    <section class="user">
      <img
        width="256"
        height="256"
        src="https://img.icons8.com/external-kmg-design-basic-outline-kmg-design/256/000000/external-user-back-to-school-kmg-design-basic-outline-kmg-design.png"
        alt="external-user-back-to-school-kmg-design-basic-outline-kmg-design"
      />
    </section>

    <section class="call c">
      <div>
        <button id="videoCall">
          <img
            id="videoCallIcon"
            src="../assets/images/icons8-video-call-48.png"
            alt=""
          />
        </button>
      </div>
      <div id="call-ctr">
        <button id="speaker">
          <img
            id="speakerIcon"
            src="../assets/images/icons8-sound-48.png"
            alt=""
          />
        </button>
        <button id="mic">
          <img id="micIcon" src="../assets/images/icons8-mic-48.png" alt="" />
        </button>
        <img src="../assets/images/icons8-end-call-48.png" alt="" />
      </div>
      <div id="call-ctr-i">
        <img src="../assets/images/chat.png" alt="" />
        <img src="../assets/images/icons8-happy-48.png" alt="" />
        <img src="../assets/images/icons8-full-screen-48.png" alt="" />
      </div>
    </section>
  </body>

  <script src="../assets/javascript/calling.js"></script>
</html>
