<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>healthcare</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../assets/scss/contact_us.css">
</head>
<body>
    <div id="booking">
        <div id="header">
            <div id ="head1" >
                <h1>Get in touch to book your first appointment</h1>
            </div>
            <div id="head2">
                <h4>Booking an appointment is quick and simple</h4>
            </div>
        </div>
        <div>
            <form  id="form" action="#">
               
                <input type="text" id="name"  class="input-bar"  placeholder="Enter your name" required>
                
                <input type="text" id="Email" class="input-bar" placeholder="Enter your Email" required>

                <input type="submit" value="Submit" id="submit">
              </form>
              
        </div>
    </div>
    
    
    
</body>
</html>