<link rel="stylesheet" href="/css/contact_us.css">

<!-- Contact Us Section Starts here -->

<div class="contact-container">
  <div class="control-header">
    <h1 class="contact-header">Connect With Us</h1>
    <p class="contact-para">We would love to respond to your queries and help you succeed. Feel free to get in touch
      with us.</p>
  </div>
  <div class="contact-box">
    <div class="contact-left">
      <h3 class="header-h3">Send Your Request</h3>
      <form>
        <div class="input-row">
          <div class="input-group">
            <label class="contact-label">Name</label>
            <input class="input-area" type="text" placeholder="Enter Your Name">
          </div>
          <div class="input-group">
            <label class="contact-label">Phone</label>
            <input class="input-area" type="text" placeholder="Enter Your Number">
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <label class="contact-label">Email</label>
            <input class="input-area" type="email" placeholder="Enter Your Email">
          </div>
          <div class="input-group">
            <label class="contact-label">Subject</label>
            <input class="input-area" type="text" placeholder="Enter Subject">
          </div>
        </div>
        <label class="contact-label">Message</label>
        <textarea class="text-area" rows="5" placeholder="Your Message"></textarea>

        <button class="contact-button" type="submit">SEND</button>
      </form>
    </div>
    <div class="contact-right">
      <h3 class="header-h3">Reach Us</h3>

      <table>
        <tr>
          <td>Email</td>
          <td>services.contact@gmail.com</td>
        </tr>
        <tr>
          <td>Phone</td>
          <td>987******0</td>
        </tr>
        <tr>
          <td>Address</td>
          <td>Sikkim Manipal Institute of Technology,Near Palm Grove Hotel, Majhitar, District Gangtok, Sikkim, PIN -
            737136</td>
        </tr>
      </table>
    </div>
  </div>

</div>

<!-- Contact us section ends here -->