<link rel="stylesheet" href="/css/contact_us.css">

<!-- Contact Us Section Starts here -->

<div id="booking">
    <div id="header">
        <div id="head1">
            <h1>Get in touch to book your first appointment</h1>
        </div>
        <div id="head2">
            <h4>Booking an appointment is quick and simple</h4>
        </div>
    </div>
    <div>
        <form id="form" action="#">
  
            <input type="text" id="name" class="input-bar" placeholder="Enter your name" required>
  
            <input type="text" id="Email" class="input-bar" placeholder="Enter your Email" required>
  
            <input type="submit" value="Submit" id="submit">
        </form>
  
    </div>
  </div>
  
  <!-- Contact us section ends here -->
  