<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>healthcare</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="booking">
        <div class="header">
            <div class="1 head">
                <h1>Get in touch to book your <br>first appointment</h1>
            </div>
            <div class ="2 head">
                <h4>Booking an appointment is quick and simple</h4>
            </div>
        </div>
        <div>
            <form  id="form" class = "forms" action="/action_page.php" target="_blank">
               
                <input type="text" id="fname"  class="name" name="fname" placeholder="First name">
                
                <input type="text" id="lname" class="name" name="lname" placeholder="last name">

                <input type="submit" value="Submit" id="submit" class="submit ">
              </form> 
              
        </div>
    </div>

    
</body>
</html>