<link rel="stylesheet" href="/css/contact_us.css">

<!-- Contact Us Section Starts here -->

<div class="contact-container">
    <h1 class="contact-header">Connect With Us</h1>
    <p class="contact-para">We would love to respond to your queries and help you succeed. Feel free to get in touch with us.</p>
    <div class="contact-box">
      <div class="contact-left">
        <h3>Send Your Request</h3>
        <form>
          <div class="input-row">
            <div class="input-group">
              <label>Name</label>
              <input type="text" placeholder="Enter Your Name">
            </div>
            <div class="input-group">
              <label>Phone</label>
              <input type="text" placeholder="Enter Your Number">
            </div>
          </div>
          <div class="input-row">
            <div class="input-group">
              <label>Email</label>
              <input type="email" placeholder="Enter Your Email">
            </div>
            <div class="input-group">
              <label>Subject</label>
              <input type="text" placeholder="Enter Subject">
            </div>
          </div>
              <label>Message</label>
              <input type="" placeholder="Enter Your Email">
        </form>
      </div>
      <div class="contact-right">
        <h3>Reach Us</h3>
      </div>
    </div>

  </div>
  
  <!-- Contact us section ends here -->
  