<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor</title>
    <link rel="stylesheet" href="../assets/scss/dpp.css">
</head>
<body>
    <div class="main-div">
        <div class="patient-list-div">
            <div class="pl-heading">GROUPS</div>
            <section id="doc-list">
                <div class="seperation-doc"></div>
                <div class="doc-id">
                    <img src="../assets/images/patient-n.png" alt="Doctor " class="image">
                    <div class="doc-info">
                        <h1 class="doc-name">Rohan Shrivastava</h1>
                        <h3 class="doc-type">Problem</h3>
                    </div>
                </div>
                <div class="seperation-doc"></div>
                <div class="doc-id">
                    <img src="../assets/images/patient-n.png" alt="Doctor " class="image">
                    <div class="doc-info">
                        <h1 class="doc-name">Rimjhim Shrivastava</h1>
                        <h3 class="doc-type">Neuro Surgeon</h3>
                    </div>
                </div>
                <div class="seperation-doc"></div>
                <div class="doc-id">
                    <img src="../assets/images/patient-n.png" alt="Doctor " class="image">
                    <div class="doc-info">
                        <h1 class="doc-name">Rajsekhor Saikia</h1>
                        <h3 class="doc-type">Dentist</h3>
                    </div>
                </div>
                <div class="seperation-doc"></div>
                <div class="doc-id">
                    <img src="../assets/images/patient-n.png" alt="Doctor " class="image">
                    <div class="doc-info">
                        <h1 class="doc-name">Om Sinkar</h1>
                        <h3 class="doc-type">Dentist</h3>
                    </div>
                </div>
                <div class="seperation-doc"></div>
                <div class="doc-id">
                    <img src="../assets/images/patient-n.png" alt="Doctor " class="image">
                    <div class="doc-info">
                        <h1 class="doc-name">Rohan Shrivastava</h1>
                        <h3 class="doc-type">MBBS</h3>
                    </div>
                </div>
                <div class="seperation-doc"></div>
                <div class="doc-id">
                    <img src="../assets/images/patient-n.png" alt="Doctor " class="image">
                    <div class="doc-info">
                        <h1 class="doc-name">Rohan Shrivastava</h1>
                        <h3 class="doc-type">MBBS</h3>
                    </div>
                </div>
                <div class="seperation-doc"></div>
                <div class="doc-id">
                    <img src="../assets/images/patient-n.png" alt="Doctor " class="image">
                    <div class="doc-info">
                        <h1 class="doc-name">Rohan Shrivastava</h1>
                        <h3 class="doc-type">MBBS</h3>
                    </div>
                </div>
                <div class="seperation-doc"></div>
                <div class="doc-id">
                    <img src="../assets/images/patient-n.png" alt="Doctor " class="image">
                    <div class="doc-info">
                        <h1 class="doc-name">Rohan Shrivastava</h1>
                        <h3 class="doc-type">MBBS</h3>
                    </div>
                </div>
            </section>
        </div>
        <div class="patient-detail-div">
            <div class="patient-detail-div-content">
                <div class="profile-heading">
                    <img src="../assets/images/patient-n.png" alt="Doctor " class="profile-heading-image">
                </div>
                <div class="button-profile-set">
                    <button class="button-profile" id="b1" onclick="changetab(this.value)" value="patient-content">Patient Info</button><div class="vertical-division"></div>
                    <button class="button-profile" id="b2" onclick="changetab(this.value)" value="patient-visits">Visits</button><div class="vertical-division"></div>
                    <button class="button-profile" id="b3" onclick="changetab(this.value)" value="patient-labs">Labs</button><div class="vertical-division"></div>
                    <button class="button-profile" id="b4" onclick="changetab(this.value)" value="patient-prescriptions">Prescriptions</button>
                </div>
                <div id="patient-content">
                    <div class="patient-content-heading">General Information</div>
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-part">
                        <div class="patient-content-left">Date of birth</div>
                        <div class="patient-content-right">March 9, 1990</div>
                    </div>
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-part">
                        <div class="patient-content-left">Age</div>
                        <div class="patient-content-right">30 years old</div>
                    </div>
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-part">
                        <div class="patient-content-left">Sex</div>
                        <div class="patient-content-right">Male</div>
                    </div>
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-heading">Contact Information</div>
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-part">
                        <div class="patient-content-left">Address</div>
                        <div class="patient-content-right">434 Santino Oval Suite 205</div>
                    </div>
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-part">
                        <div class="patient-content-left">Telephone number</div>
                        <div class="patient-content-right">+64(33)305 52516</div>
                    </div>
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-part">
                        <div class="patient-content-left">E-mail</div>
                        <div class="patient-content-right">raymondrogers.rogers@gmail.com</div>
                    </div>
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-part">
                        <div class="patient-content-left">Way of communication</div>
                        <div class="patient-content-right">By chat</div>
                    </div>
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-part">
                        <div class="patient-content-left">Emergency contact</div>
                        <div class="patient-content-right">+64(33)305 52516,Elizabeth</div>
                    </div>
                    <div class="seperation-patient-content"></div>
                    <div class="patient-content-part">
                        <div class="patient-content-left">Caregiver</div>
                        <div class="patient-content-right">Victoria Jercey</div>
                    </div>
                    <div class="seperation-patient-content"></div>
                </div>
                <div id="patient-visits">Visits</div>
                <div id="patient-labs">Labs</div>
                <div id="patient-prescriptions">Prescription</div>
            </div>
        </div>
    </div>

</body>
<script src="../assets/javascript/dpp.js"></script>
</html>