<link rel="stylesheet" href="/css/doctor-patient-profile.css">
<link rel="stylesheet" href="/css/peer.css">
<div class="main-div">
    <div class="patient-list-div">
        <div class="pl-heading">PATIENTS</div>
        <section id="doc-list">
            <% for(let patient of patient_list){ %>
                <div class="seperation-doc"></div>
                <a href="/chat/video-chat-with-patient-id/<%= patient._id %>">
                    <div class="doc-id">
                        <img src="/images/patient-n.png" alt="Doctor " class="image">
                        <div class="doc-info">
                            <h1 class="doc-name">
                                <%= patient.username %>
                            </h1>
                            <h3 class="doc-type"></h3>
                        </div>
                    </div>
                </a>
                <% } %>
        </section>
    </div>
    <div class="patient-detail-div">
        <div class="patient-detail-div-content">
            <div class="profile-heading">
                <img src="/images/patient-n.png" alt="Doctor " class="profile-heading-image">
            </div>
            <span><a href="/chat/chat-with-patient">Text Chat</a></span>
            <div class="button-profile-set">
                <button class="button-profile" id="b1" onclick="changetab(this.value, this.id)"
                    value="patient-content">Video Chat</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b2" onclick="changetab(this.value, this.id)"
                    value="patient-visits">Video Chat</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b3" onclick="changetab(this.value, this.id)"
                    value="patient-labs">Labs</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b4" onclick="changetab(this.value, this.id)"
                    value="patient-prescriptions">Prescriptions</button>
            </div>
            <div id="patient-content">
                <div id="video-grid">

                </div>
                <a href="/<%= chatting_key %>">Video Chat Now!</a>
            </div>
            <div id="patient-visits">
                visits!
            </div>
            <div id="patient-labs">Labs: Coming soon!</div>

            <!-- prescription section -->
            <div id="patient-prescriptions">
                Prescriptions
            </div>
        </div>
    </div>
</div>

<script>
    window.locals = <%- JSON.stringify(locals) %>;
</script>
<script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
<script src="/javascript/doctor-patient-profile.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/javascript/video_chat_engine.js" defer></script>