<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded"/>
    <link rel="stylesheet" href="../assets/scss/doctor_dashboard.css">
</head>

<body>
    <aside>
        <section class="navsection">
            <div class="logo">eHealth</div>
            <div class="navbar">
                <div class="navbar-set"><span class="material-symbols-rounded">home</span><p class="navbar-links">Home</p></div>
                <div class="navbar-set"><span class="material-symbols-rounded">corporate_fare</span><p class="navbar-links">Company</p></div>
                <div class="navbar-set"><span class="material-symbols-rounded">medical_services</span><p class="navbar-links">Services</p></div>
                <div class="navbar-set"><span class="material-symbols-rounded">contact_support</span><p class="navbar-links">Contact Us</p></div>
                <div class="nav-footer">
                    <div class="navbar-set active"><span class="material-symbols-rounded">groups</span><p class="navbar-links">Patients</p></div>
                </div>
            </div>
        </section>
    </aside>
    <main>
        <div class="heading">
            <div class="heading-row1">
                <div class="serachbarcontainer"><input type="text" class="search-input"><img
                        src="../assets/images/search_FILL1_wght400_GRAD0_opsz48.png" alt="" srcset=""></div>
                <div class="today-date-container" id="today-date">10:50 AM today, 28 May 2020</div>
                <div class="right-icon-div"><img src="../assets/images/icons8-notification-50.png" alt="" srcset=""><img
                        src="../assets/images/icons8-notification-50.png" alt="" srcset=""><img
                        src="../assets/images/icons8-notification-50.png" alt="" srcset=""></div>
            </div>
            <div class="heading-row2">
                <span>Patients</span> <img src="../assets/images/icons8-next-50.png" alt="" srcset=""> <span>Aryan
                    Kumar</span>
                <div class="right-icon-div"><img src="../assets/images/icons8-print-50.png" alt="" srcset=""><img
                        src="../assets/images/icons8-edit-text-file-50.png" alt="" srcset=""></div>
            </div>
        </div>
        <section>
            <div class="card-row1">
                <div class="card1 card">
                    <div class="left-div">
                        <img src="../assets/images/icons8-person-80.png" alt="" srcset="">
                        <div class="card1-heading1">Ludmila Sidorshina</div>
                        <div class="card1-email">ludmilasidorshina@gmail.com</div>
                        <div class="card1-heading2">Appointment</div>
                        <div class="card1-appointment-set">
                            <div class="part-appointment-set">5 <div class="card1-email">Posts</div>
                            </div>
                            <div class="vertical-line"></div>
                            <div class="part-appointment-set">5 <div class="card1-email">Upcoming</div>
                            </div>
                        </div>
                        <button class="send-button">Send Message</button>
                    </div>
                    <div class="right-div">
                        <div class="right-row">
                            <div class="part-appointment-set">
                                <div class="app-head2">Gender</div>
                                <div class="app-head2 app-bold">Female</div>
                            </div>
                            <div class="part-appointment-set">
                                <div class="app-head2">Birthday</div>
                                <div class="app-head2 app-bold">Oct 25, 1992</div>
                            </div>
                        </div>
                        <div class="right-row">
                            <div class="part-appointment-set">
                                <div class="app-head2">Phone number</div>
                                <div class="app-head2 app-bold">(063) 222-3333</div>
                            </div>
                            <div class="part-appointment-set">
                                <div class="app-head2">Address</div>
                                <div class="app-head2 app-bold">sanyachna str. 226B</div>
                            </div>
                        </div>
                        <div class="right-row">
                            <div class="part-appointment-set">
                                <div class="app-head2">City</div>
                                <div class="app-head2 app-bold">Kharkiv</div>
                            </div>
                            <div class="part-appointment-set">
                                <div class="app-head2">ZIP Code</div>
                                <div class="app-head2 app-bold">61129</div>
                            </div>
                        </div>
                        <div class="right-row">
                            <div class="part-appointment-set">
                                <div class="app-head2">Registration date</div>
                                <div class="app-head2 app-bold">Oct 25, 1998</div>
                            </div>
                            <div class="part-appointment-set">
                                <div class="app-head2">Member status</div>
                                <div class="app-head2 app-bold">Active member</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="card2 card">
                    <div class="card-heading">Notes<span>See All</span></div>
                    <div class="note-content">
                        <textarea type="text"></textarea>
                        <button type="submit">Save Note</button>
                    </div>
                    <div class="note-doc">
                        <div class="app-bold">Note 1</div>
                        <div><img src="../assets/images/icons8-person-80.png" alt="" srcset=""><div class="app-head2">DR.Gabriel Garsia Markes </div><div class="app-head2">20 Nov 18 </div></div>
                        
                    </div>
                    
                </div>
                <div class="card3 card">
                    <div class="card-heading">Files / Documents<img src="../assets/images/icons8-insert-page-50.png"
                            alt="" srcset=""><span>Add Files</span></div>
                    <div class="document-list">
                        <button class="document-set"><img src="../assets/images/icons8-document-50.png" alt=""
                                srcset="">Blood text.pdf<span>27 kb</span></button>
                        <button class="document-set"><img src="../assets/images/icons8-document-50.png" alt=""
                                srcset="">Blood text.pdf<span>27 kb</span></button>
                        <button class="document-set"><img src="../assets/images/icons8-document-50.png" alt=""
                                srcset="">Blood text.pdf<span>27 kb</span></button>
                        <button class="document-set"><img src="../assets/images/icons8-document-50.png" alt=""
                                srcset="">Blood text.pdf<span>27 kb</span></button>
                        <button class="document-set"><img src="../assets/images/icons8-document-50.png" alt=""
                                srcset="">Blood text.pdf<span>27 kb</span></button>
                        <button class="document-set"><img src="../assets/images/icons8-document-50.png" alt=""
                                srcset="">Blood text.pdf<span>27 kb</span></button>
                    </div>
                </div>
            </div>
            <div class="card-row2">
                <div class="card4 card">
                    <div class="card4-heading">
                        <div class="tab-set">
                            <button class="tab-element">Upcoming appointment</button>
                            <button class="tab-element">Upcoming appointment</button>
                            <button class="tab-element">Upcoming appointment</button>
                        </div>
                        <button class="add-appointment-button">Add appointment</button>
                    </div>
                    <div class="appointment-list">
                        <div class="appointment-set">
                            <div class="circle-div"></div>
                            <div class="appointment-detail">
                                <div class="appointment-part">
                                    <div class="app-head1">01 Jun'20</div>
                                    <div class="app-head2">09:00 AM</div>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="appointment-part">
                                    <div class="app-head2">Type</div>
                                    <div class="app-head2 app-bold">Consultation</div>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="appointment-part">
                                    <div class="app-head2">Doctor</div>
                                    <div class="app-head2 app-bold">Dr. Arkadly Ch.</div>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="appointment-part">
                                    <div class="app-head2">Nurse</div>
                                    <div class="app-head2 app-bold">Jessica Mauboy</div>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="appointment-part">
                                    <img src="../assets/images/icons8-note-50.png" alt="" srcset="">
                                    <div class="app-head2">Notes</div>
                                </div>
                            </div>
                        </div>
                        <div class="appointment-set">
                            <div class="circle-div"></div>
                            <div class="appointment-detail">
                                <div class="appointment-part">
                                    <div class="app-head1">01 Jun'20</div>
                                    <div class="app-head2">09:00 AM</div>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="appointment-part">
                                    <div class="app-head2">Type</div>
                                    <div class="app-head2 app-bold">Consultation</div>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="appointment-part">
                                    <div class="app-head2">Doctor</div>
                                    <div class="app-head2 app-bold">Dr. Arkadly Ch.</div>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="appointment-part">
                                    <div class="app-head2">Nurse</div>
                                    <div class="app-head2 app-bold">Jessica Mauboy</div>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="appointment-part">
                                    <img src="../assets/images/icons8-note-50.png" alt="" srcset="">
                                    <div class="app-head2">Notes</div>
                                </div>
                            </div>
                        </div>
                        <div class="appointment-set">
                            <div class="circle-div"></div>
                            <div class="appointment-detail">
                                <div class="appointment-part">
                                    <div class="app-head1">01 Jun'20</div>
                                    <div class="app-head2">09:00 AM</div>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="appointment-part">
                                    <div class="app-head2">Type</div>
                                    <div class="app-head2 app-bold">Consultation</div>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="appointment-part">
                                    <div class="app-head2">Doctor</div>
                                    <div class="app-head2 app-bold">Dr. Arkadly Ch.</div>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="appointment-part">
                                    <div class="app-head2">Nurse</div>
                                    <div class="app-head2 app-bold">Jessica Mauboy</div>
                                </div>
                                <div class="vertical-line"></div>
                                <div class="appointment-part">
                                    <img src="../assets/images/icons8-note-50.png" alt="" srcset="">
                                    <div class="app-head2">Notes</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card5 card">
                    <div class="card-heading">Payments</div>
                    <div class="card-heading2">Transaction<span>Amount</span></div>
                    <div class="payment_list">
                        <div class="payment-set">
                            <div class="circle-div"></div>Consultation with doctor <span>20$</span>
                        </div>
                        <div class="payment-set">
                            <div class="circle-div"></div>Consultation with doctor <span>20$</span>
                        </div>
                        <div class="payment-set">
                            <div class="circle-div"></div>Consultation with doctor <span>20$</span>
                        </div>
                        <div class="payment-set">
                            <div class="circle-div"></div>Consultation with doctor <span>20$</span>
                        </div>
                        <div class="payment-set">
                            <div class="circle-div"></div>Consultation with doctor <span>20$</span>
                        </div>
                        <div class="payment-set">
                            <div class="circle-div"></div>Consultation with doctor <span>20$</span>
                        </div>
                        <div class="payment-set">
                            <div class="circle-div"></div>Consultation with doctor <span>20$</span>
                        </div>
                        <div class="payment-set">
                            <div class="circle-div"></div>Consultation with doctor <span>20$</span>
                        </div>
                    </div>
                    <div class="payment-set">Amount<span>20$</span></div>
                </div>
            </div>
        </section>

</html>