<link rel="stylesheet" href="/css/_home.css">
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/video.css" />
<!-- Intro Section -->
<section id="intro">
    <div class="main-content">

        <!-- This section contains the grey header division -->
        <div class="header-division">
            <img src="/images/Line_1.png">
            EXPERT MEDICAL TREATMENT
        </div>

        <!-- This section contains the bold black header of the main page -->
        <div class="heading-bold">
            We follow a<br>
            holistic approach<br>
            to healthcare
        </div>

        <!-- This section contains the paragraph content of the bold header -->
        <div class="content-heading">
            Lorem Ipsum dolor sir amet consectet piscing elit, sed do eiusmod.
        </div>

        <!-- this anchor tag is used for the book appointment button -->
        <a href="/appointment/book-appointment">Book an Appointment</a>
    </div>

    <!-- this is the home page image of a doctor -->
    <div class="home-image">
        <img src="/images/Doc2.png" alt="image failed to load">
    </div>
</section>
<!-- Intro section ends here -->

<!-- Services section Starts Here-->
<section class="services">
    <h1>SERVICES</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure molestias pariatur porro<br> rem inventore atque
        exercitationem laborum quos quibusdam earum.
    </p>

    <!-- Muliple rows for content sharing -->
    <div class="row">
        <div class="service-col-1">
            <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
            <h3>Medical</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
        <div class="service-col-1">
            <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
            <h3>Medical</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
        <div class="service-col-1">
            <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
            <h3>Medical</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
    </div>

    <!-- Muliple rows for content sharing -->
    <div class="row">
        <div class="service-col-2">
            <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
            <h3>Medical</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
        <div class="service-col-2">
            <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
            <h3>Medical</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
        <div class="service-col-2">
            <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
            <h3>Medical</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
    </div>
</section>
<!-- Services Ends Here -->

<!-- Video Section Starts here -->
<div class="video-section">
<div class="text">
    <div class="designation"> <h3>DR. ROHAN SHRIVASTAVA</h3></div>
    <div class="definition">
        <h1>Watch video to know how he</h1>
        <h1>is a good doctor for you.</h1>
    </div>
  </div>
  <div class="video-container paused" data-volume-level="high">
    <img class="thumbnail-img">
    <div class="video-controls-container">
      <div class="timeline-container">
        <div class="timeline">
          <img class="preview-img">
          <div class="thumb-indicator"></div>
        </div>
      </div>
      <div class="controls">
        <button class="play-pause-btn">
          <svg class="play-icon" viewBox="0 0 24 24">
            <path fill="currentColor" d="M8,5.14V19.14L19,12.14L8,5.14Z" />
          </svg>
          <svg class="pause-icon" viewBox="0 0 24 24">
            <path fill="currentColor" d="M14,19H18V5H14M6,19H10V5H6V19Z" />
          </svg>
        </button>
        <div class="volume-container">
          <button class="mute-btn">
            <svg class="volume-high-icon" viewBox="0 0 24 24">
              <path fill="currentColor" d="M14,3.23V5.29C16.89,6.15 19,8.83 19,12C19,15.17 16.89,17.84 14,18.7V20.77C18,19.86 21,16.28 21,12C21,7.72 18,4.14 14,3.23M16.5,12C16.5,10.23 15.5,8.71 14,7.97V16C15.5,15.29 16.5,13.76 16.5,12M3,9V15H7L12,20V4L7,9H3Z" />
            </svg>
            <svg class="volume-low-icon" viewBox="0 0 24 24">
              <path fill="currentColor" d="M5,9V15H9L14,20V4L9,9M18.5,12C18.5,10.23 17.5,8.71 16,7.97V16C17.5,15.29 18.5,13.76 18.5,12Z" />
            </svg>
            <svg class="volume-muted-icon" viewBox="0 0 24 24">
              <path fill="currentColor" d="M12,4L9.91,6.09L12,8.18M4.27,3L3,4.27L7.73,9H3V15H7L12,20V13.27L16.25,17.53C15.58,18.04 14.83,18.46 14,18.7V20.77C15.38,20.45 16.63,19.82 17.68,18.96L19.73,21L21,19.73L12,10.73M19,12C19,12.94 18.8,13.82 18.46,14.64L19.97,16.15C20.62,14.91 21,13.5 21,12C21,7.72 18,4.14 14,3.23V5.29C16.89,6.15 19,8.83 19,12M16.5,12C16.5,10.23 15.5,8.71 14,7.97V10.18L16.45,12.63C16.5,12.43 16.5,12.21 16.5,12Z" />
            </svg>
          </button>
          <input class="volume-slider" type="range" min="0" max="1" step="any" value="1">
        </div>
        <div class="duration-container">
          <div class="current-time">0:00</div>
          /
          <div class="total-time"></div>
        </div>
        <button class="speed-btn wide-btn">
          1x
        </button>
        <button class="mini-player-btn">
          <svg viewBox="0 0 24 24">
            <path fill="currentColor" d="M21 3H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H3V5h18v14zm-10-7h9v6h-9z"/>
          </svg>
        </button>
        <button class="theater-btn">
          <svg class="tall" viewBox="0 0 24 24">
            <path fill="currentColor" d="M19 6H5c-1.1 0-2 .9-2 2v8c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm0 10H5V8h14v8z"/>
          </svg>
          <svg class="wide" viewBox="0 0 24 24">
            <path fill="currentColor" d="M19 7H5c-1.1 0-2 .9-2 2v6c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2zm0 8H5V9h14v6z"/>
          </svg>
        </button>
        <button class="full-screen-btn">
          <svg class="open" viewBox="0 0 24 24">
            <path fill="currentColor" d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"/>
          </svg>
          <svg class="close" viewBox="0 0 24 24">
            <path fill="currentColor" d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"/>
          </svg>
        </button>
      </div>
    </div>
    <video src="/videos/demo-video.mp4">
    </video>
  </div>
</div>
<!-- Video Section ends here -->

<!-- About Us Section Starts here -->

<div id="abt-us-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 center-alignment">
                <div class="about-us-image abt-part-1 center-alignment">
                    <img id="abt-img" src="/images/img.jpg" alt="Doctors and medical researchers">
                </div>
                <div id="about-us-postcard">
                    <div id="status-adjustment">
                        <div id="status-color"></div>
                    </div>
                    <div id="doc-pic">
                        <img id="abt-doc" src="/images/doc.jpg" alt="doctor">
                    </div>
                    <h3>Dr. Mathur</h3>
                    <div class="abt-text-color">
                        <p>CEO, e-Health</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 center-alignment" id="abt-part-2">
                <h3 class="abt-text-color" id="abt-us-abt-us-text">About Us</h3>
                <h1 id="abt-us-main-text">A dedicated doctor with a core mission to help</h1>
                <h2 class="abt-text-color abt-us-sub-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Asperiores, corrupti.</h2>
                <h2 class="abt-text-color abt-us-sub-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate, aut?</h2>
                <div id="abt-us-btn">
                    <a href="/appointment/book-appointment" id="apt-btn">
                        Book an Appointment
                    </a>
                    <div id="abt-btn">
                        About Us
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Us Section Ends here -->

<script src="/javascript/video.js"></script>