<link rel="stylesheet" href="/css/_home.css">
<link rel="stylesheet" href="/css/styles.css">
<!-- Intro Section -->
<section id="intro">
    <div class="main-content">
        <div class="div1">
            <img src="/images/Line_1.png">
            EXPERT MEDICAL TREATMENT
        </div>
        <div class="div2">
            We follow a<br>
            holistic approach<br>
            to healthcare
        </div>
        <div class="div3">
            Lorem Ipsum dolor sir amet consectet piscing elit, sed do eiusmod.
        </div>
        <a href="">Book an Appointment</a>
    </div>
    <div class="image">
        <img src="/images/Doc2.png" alt="image failed to load">

    </div>
</section>

<!-- Services Starts Here-->
<section class="services">
    <h1>SERVICES</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure molestias pariatur porro<br> rem inventore atque
        exercitationem laborum quos quibusdam earum.
    </p>

    <div class="row">
        <div class="service-col-1">
            <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
            <h3>Medical</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
        <div class="service-col-1">
            <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
            <h3>Medical</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
        <div class="service-col-1">
            <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
            <h3>Medical</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
    </div>

    <div class="row">
        <div class="service-col-2">
            <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
            <h3>Medical</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
        <div class="service-col-2">
            <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
            <h3>Medical</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
        <div class="service-col-2">
            <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
            <h3>Medical</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum laboriosam maiores impedit
                praesentium quae, rem voluptatem fugit similique aspernatur et unde. Laborum est blanditiis nisi
                voluptate asperiores error ratione commodi?</p>
        </div>
    </div>
</section>
<!-- Services Ends Here -->

<!-- About Us Section Starts here -->

<div id="abt-us-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 center-alignment">
                <div class="about-us-image abt-part-1 center-alignment">
                    <img id="abt-img" src="/images/img.jpg" alt="Doctors and medical researchers">
                </div>
                <div id="about-us-postcard">
                    <div id="status-adjustment">
                        <div id="status-color"></div>
                    </div>
                    <div id="doc-pic">
                        <img id="abt-doc" src="/images/doc.jpg" alt="doctor">
                    </div>
                    <h3>Dr. Mathur</h3>
                    <div class="abt-text-color">
                        <p>CEO, e-Health</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-sm-12 center-alignment" id="abt-part-2">
                <h3 class="abt-text-color" id="abt-us-abt-us-text">About Us</h3>
                <h1 id="abt-us-main-text">A dedicated doctor with a core mission to help</h1>
                <h2 class="abt-text-color abt-us-sub-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Asperiores, corrupti.</h2>
                <h2 class="abt-text-color abt-us-sub-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate, aut?</h2>
                <div id="abt-us-btn">
                    <div id="apt-btn">
                        <a class="a-tag-adjustment" href="#">
                            <h4 id="apt-btn-text">Book an Appointment</h4>
                        </a>
                    </div>
                    <div id="abt-btn">
                        <a class="a-tag-adjustment" href="#">
                            <h4 id="abt-btn-text">About Us</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About Us Section Ends here -->