<link rel="stylesheet" href="/css/_home.css">

<!-- Intro Section -->

    <section id="intro">
        <div class="main-content">

            <!-- This section contains the grey header division -->
            <div class="header-division">
                <img src="/images/Line_1.png">
                <span class="division-text-container">
                    <span class="division-text first-text"></span>
                    <span class="division-text sec-text">EXPERT MEDICAL TREATMENT</span>
                </span>
            </div>

            <!-- This section contains the bold black header of the main page -->
            <div class="heading-bold">
                We follow a<br>
                holistic approach<br>
                to healthcare
            </div>

            <!-- This section contains the paragraph content of the bold header -->
            <div class="content-heading">
                For the residents of <br>Sikkim Manipal Institute of Technology.
            </div>

            <!-- this anchor tag is used for the book appointment button -->
            <a href="/appointment/book-appointment">Book an Appointment</a>
        </div>

        <!-- this is the home page image of a doctor -->
        <div class="home-image">
            <img src="/images/Doc2_1.png" alt="image failed to load">
        </div>
    </section>
    <!-- Intro section ends here -->