<link rel="stylesheet" href="/css/doctor-patient-profile.css">
<div class="main-div">
    <div class="patient-list-div">
        <div class="pl-heading">DOCTORS</div>
        <section id="doc-list">
            <div class="seperation-doc"></div>
            <div class="doc-id">
                <img src="/images/patient-n.png" alt="Doctor " class="image">
                <div class="doc-info">
                    <h1 class="doc-name">Rohan Shrivastava</h1>
                    <h3 class="doc-type">Problem</h3>
                </div>
            </div>
            <div class="seperation-doc"></div>
            <div class="doc-id">
                <img src="/images/patient-n.png" alt="Doctor " class="image">
                <div class="doc-info">
                    <h1 class="doc-name">Rimjhim Shrivastava</h1>
                    <h3 class="doc-type">Neuro Surgeon</h3>
                </div>
            </div>
            <div class="seperation-doc"></div>
            <div class="doc-id">
                <img src="/images/patient-n.png" alt="Doctor " class="image">
                <div class="doc-info">
                    <h1 class="doc-name">Rajsekhor Saikia</h1>
                    <h3 class="doc-type">Dentist</h3>
                </div>
            </div>
            <div class="seperation-doc"></div>
            <div class="doc-id">
                <img src="/images/patient-n.png" alt="Doctor " class="image">
                <div class="doc-info">
                    <h1 class="doc-name">Om Sinkar</h1>
                    <h3 class="doc-type">Dentist</h3>
                </div>
            </div>
        </section>
    </div>
    <div class="patient-detail-div">
        <div class="patient-detail-div-content">
            <div class="profile-heading">
                <img src="/images/patient-n.png" alt="Doctor " class="profile-heading-image">
            </div>
            <div class="button-profile-set">
                <button class="button-profile" id="b1" onclick="changetab(this.value)" value="patient-content">User
                    Info</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b2" onclick="changetab(this.value)"
                    value="patient-visits">Appointments</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b3" onclick="changetab(this.value)"
                    value="patient-labs">Labs</button>
                <div class="vertical-division"></div>
                <button class="button-profile" id="b4" onclick="changetab(this.value)"
                    value="patient-prescriptions">Prescriptions</button>
            </div>
            <div id="patient-content">
                <div class="patient-content-heading">General Information</div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Name</div>
                    <div class="patient-content-right">Rohan Shrivastava</div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Age</div>
                    <div class="patient-content-right">30</div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Sex</div>
                    <div class="patient-content-right">Male</div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-heading">Contact Information</div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Address</div>
                    <div class="patient-content-right">Unavailable</div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">Contact number</div>
                    <div class="patient-content-right">Unavailable</div>
                </div>
                <div class="seperation-patient-content"></div>
                <div class="patient-content-part">
                    <div class="patient-content-left">E-mail</div>
                    <div class="patient-content-right">rohanshrivastava10000@gmail.com</div>
                </div>
                <div class="seperation-patient-content"></div>
            </div>
            <div id="patient-visits">Visits: Coming soon!</div>
            <div id="patient-labs">Labs: Coming soon!</div>
            <div id="patient-prescriptions">Prescriptions: Coming soon!</div>
        </div>
    </div>
</div>

<script src="/javascript/doctor-patient-profile.js"></script>