<link rel="stylesheet" href="/css/_home.css">
 
 <!-- Services section Starts Here-->
 <section class="services">
    <h1>SERVICES</h1>
    <p>We provide several services for the residents of SMIT!<br> Be it a student or faculty member,
      everyone is treated at SMIT Healthcare!
    </p>

    <!-- Muliple rows for content sharing -->
    <div class="row">
      <div class="service-col-1">
        <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
        <h3>Book an Appointment</h3>
        <p>Welcome to our doctor appointment booking service! We're here to help you schedule
          an appointment with a doctor quickly and easily.</p>
      </div>
      <div class="service-col-1">
        <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
        <h3>Chat with doctor</h3>
        <p>Welcome to our chat with a doctor service! We understand that visiting a doctor
          in person isn't always possible, which is why we've created this service to
          provide you with a convenient and accessible way to speak with a doctor.</p>
      </div>
      <div class="service-col-1">
        <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
        <h3>Video Consultation</h3>
        <p>Welcome to our video consultation service! We understand that sometimes it's
          difficult to make it to an in-person doctor's appointment, which is why we
          offer this service to provide you with a convenient and secure way to
          speak with a doctor face-to-face.</p>
      </div>
    </div>

    <!-- Muliple rows for content sharing -->
    <div class="row">
      <div class="service-col-2">
        <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
        <h3>Prescriptions & Reports</h3>
        <p>Welcome to our prescriptions and reports service! We understand that getting
          a prescription or accessing your medical reports can be time-consuming and
          sometimes frustrating. That's why we offer this service to provide you with
          a fast and easy way to get the prescriptions and reports you need.</p>
      </div>
      <div class="service-col-2">
        <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
        <h3>Order Medicines</h3>
        <p>Welcome to our order medicines service! We understand that picking up your
          prescriptions from the pharmacy can be time-consuming, especially when you're
          not feeling well. That's why we offer this service to provide you with a fast
          and easy way to order your medications from the comfort of your home.</p>
      </div>
      <div class="service-col-2">
        <img class="tooth-image" src="/images/tooth.png" alt="tooth.img">
        <h3>Diagnostic Tests</h3>
        <p>Welcome to our diagnostic tests service! We understand that getting the right
          diagnostic tests is essential for accurate and timely diagnosis of your health
          condition. That's why we offer this service to provide you with easy access
          to a wide range of diagnostic tests.</p>
      </div>
    </div>
  </section>
  <!-- Services Ends Here -->