<link href="/css/login_SignUp.css" rel="stylesheet">
<div id="content">
    <div class="form-section">
        <div class="container-box">
            <div class="container">
                <div id="center" class="text">Please Enter Your Details</div>
                <div class="form">
                    <form action="/users/create" method="POST">
                        <div class="div1">
                            <input class="input-s" type="text" name="username" id="username" placeholder="Username" required>
                            <input class="input-s" type="email" name="email" id="Email" placeholder="Email" required></div>
                        <div class="div2">
                            <input class="input-s" type="number" name="age" id="Age" placeholder="Age" min="0" required>
                            <input class="input-s" type="password" name="password" id="Password" placeholder="Password" required></div>
                        <div class="div8">
                            <span id="mr">Gender</span>
                            <input class="check" type="radio" value="Male" name="gender" ><label class="gt">Male</label>
                            <input class="check" type="radio" value="Female" name="gender" ><label class="gt">Female</label>
                            <input class="check" type="radio" value="Others" name="gender" ><label class="gt">Others</label></div>
                        <div class="div4">
                            <input class="check" type="checkbox" required placeholder="checkbox" required>
                            Please accept to our.<span id="pink">Terms andCondition</span>, for problem click <span id="pink">help?</span></div>
                        <div class="div5">
                            <input class="main-btn" id="btn" type="submit" name="submit" value="Sign Up">
                        </div>
                        <div class="div6"><a href="/users/auth/google"><input class="main-btn" type="button" name="submit" value="Sign Up with Google"></a></div>
                        <div class="div7">Already have an account? <a href="/users/sign-in"><span id="pink">Sign In?</span></a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="image-section">
        <div class="div1">
            <div class="text">Create a New Account</div>
            <img src="/images/Group 20.png" alt="image failed to load" width="63%">
        </div>
    </div>
</div>