<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="../assets/scss/login.css" rel="stylesheet">
   

</head>
<body>
    <header id="header">
        <span class="logo"><span>e-</span>Health</span>
    </header>
    <div id="content">
        <div class="form-section">
            <div class="container-box">
                <div class="container">
                    <div id="center" class="text">Please Enter Your Details</div>
                    <div class="form">
                        <form action="">
                            <div class="div1"><input class="input-s" type="text" name="username" id="username" placeholder="Username"><input class="input-s" type="email" name="Email" id="Email" placeholder="Email"></div>
                            <div class="div2"><input class="input-s" type="number" name="Age" id="Age" placeholder="Age" min="0"><input class="input-s" type="password" name="Password" id="Password" placeholder="Password"></div>
                            <div class="div8"><span id="mr">Gender</span><input class="check" type="checkbox" placeholder="Male" value="gender" required><label class="gt">Male</label><input class="check" type="checkbox" placeholder="Female" value="gender" required><label class="gt">Female</label><input class="check" type="checkbox" placeholder="Others" value="gender" required><label class="gt">Others</label></div>
                            <div class="div4"><input class="check" type="checkbox" required placeholder="checkbox">Please accept to our.<span id="pink">Terms and Condition</span>, for problem click <span id="pink">help?</span></div>
                            <div class="div5"><input class="main-btn" id="btn" type="submit" name="submit" value="Sign Up"></div>
                            <div class="div6"><input class="main-btn" type="button" name="submit" value="Sign Up with Google"></div>
                            <div class="div7">Already have an account? <span id="pink">Sign In?</span></div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
            <div class="image-section">
                <div class="div1">
                    <div class="text">Create a New Account</div>
                    <img src="../assets/images/Group 20.png" alt="image failed to load" width="63%">
                </div>
            </div>
        </div>
    </section>
    </body>
</html>