<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="../assets/css/video.css" />
  <title>Video Player</title>
</head>
<body>
    <div class="text">
        <div class="designation"> <h3>DR. ROHAN SHRIVASTAVA</h3></div>
        <div class="definition">
            <h1>Watch video to know how he</h1>
            <h1>is a good doctor for you.</h1>
        </div>
    </div>
  <section>
    <div class="container">
        <div class="video_player">
            <video preload="metadata" class="main-video">
                <source src="../assets/videos/demo-video.mp4" size="360" type="video/mp4">
            </video>
        </div>
    </div>
  </section>
  <script src="../assets/javascript/video.js"></script>
</body>

</html>
