$color_1: #204ea5;
$color_2: #737373;
$font-family_1: 'Roboto', sans-serif;
$background-color_1: #ffdaed2d;
$background-color_2: white;

* {
	margin: 0;
}
footer {
	font-size: 16px;
	// background-color: $background-color_1;
}
#footer-heading {
	text-align: center;
	font-family: $font-family_1;
	color: $color_1;
	padding-top: 7.5vh;
}
#description {
	margin: 40px 15vw;
	line-height: 20px;
	text-align: center;
	color: $color_2;
}
#copyright {
	text-align: center;
	color: $color_2;
}
#circles {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	flex-direction: row;
}
.footer-links-icon {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: $background-color_2;
	border: 1px solid black;
	margin: 0 1vw 5vh 1vw;
}
