$color_1: rgb(107, 107, 107);
$color_2: rgb(231, 3, 144);
$color_3: rgb(117, 117, 117);
$color_4: white;
$background-color_1: rgb(255, 244, 253);
$background-color_2: white;
$background-color_3: rgb(231, 3, 144);
$border-color_1: transparent;

/* header */
body {
	margin: 0;
	padding: 0;
	margin-left: 7rem;
}
#header {
	background-color: $background-color_1;
	margin: 2rem 0px;
	position: relative;
	display: flex;
	.logo {
		font-size: 2.5rem;
		color: $color_1;
		position: relative;
		top: 0.5rem;
		&:hover {
			font-size: 2.5rem;
			color: $color_2;
			position: relative;
			top: 0.5rem;
			cursor: pointer;
		}
	}
	span {
		span {
			color: $color_2;
		}
	}
}
.horizontal-list {
	list-style: none;
	font-size: 1.3rem;
	display: flex;
	justify-content: space-around;
	li {
		margin: 1rem 1.5rem;
		text-decoration: none;
		a {
			color: $color_3;
			text-decoration: none;
			&:hover {
				color: $color_2;
				text-decoration: none;
			}
		}
	}
}
/* signin register buttons */
.button {
	position: relative;
	left: 10rem;
	.sign {
		a {
			border: 1px solid rgb(117, 117, 117);
			padding: 0.75rem 2.25rem;
			border-radius: 2rem;
			background-color: $background-color_2;
			&:hover {
				border-color: $border-color_1;
				padding: 0.75rem 2.25rem;
				border-radius: 2rem;
				background-color: $background-color_3;
				color: $color_4;
			}
		}
	}
	.reg {
		a {
			padding: 0.75rem 2.25rem;
			border-radius: 2rem;
			background-color: $background-color_3;
			color: $color_4;
			&:hover {
				border: 1px solid rgb(231, 3, 144);
				padding: 0.75rem 2.25rem;
				border-radius: 2rem;
				background-color: $background-color_2;
				color: $color_2;
			}
		}
	}
}
