$color_1: var(--color-dark-grey);
$color_2: var(--color-light-grey);
$color_3: white;
$color_4: #204EA5;
$color_5: #777;
$font-family_1: 'Noto Sans', sans-serif;
$font-family_2: Lexend Deca;
$font-family_3: Livvic;
$font-family_4: Abel;
$background-color_1: #ffbdde2d;
$background-color_2: rgb(255, 244, 253);
$background-color_3: #204EA5;

*{
	margin: 0;
	padding: 0;
}

body {
    background-color: $background-color_1;
}

/*Intro Section Starts Here*/

#intro {
	background-color: $background-color_2;
	margin-top: 2rem;
	position: relative;
	.main-content {
		display: inline-block;
		width: 45%;
		padding-top: 3rem;
	}
	.home-image {
		display: inline-block;
		width: 40%;
		vertical-align: top;
		img {
			margin: 0px 2rem;
			height: 650px;
		}
	}
}
.main-content {
	.header-division {
		img {
			position: relative;
			bottom: 4px;
		}
		font-family: $font-family_1;
		font-size: 1.3rem;
		color: $color_1;
		font-weight: bolder;
		margin: 2rem 0px;
	}
	.heading-bold {
		font-family: $font-family_1;
		font-size: 4.5rem;
		line-height: 5.2rem;
	}
	.content-heading {
		margin: 2rem 0px 3rem 0px;
		color: $color_2;
		font-size: 2rem;
		line-height: 2.5rem;
	}
	a {
		text-decoration: none;
		color: $color_3;
		font-size: 1.3rem;
		background-color: $background-color_3;
		padding: 0.7rem 2rem;
		border-radius: 1rem;
		transition: 0.5s ease-in-out;
		&:hover {
			box-shadow: 1px 1px 30px #204EA5;
		}
	}
}

/*Intro Section Ends Here*/

/*Services Styling Starts Here*/

.services {
	margin-right: 160px;
	text-align: center;
	padding-top: 100px;
}
h1 {
	font-size: 36px;
	font-weight: 600;
	font-family: $font-family_2;
	color: $color_4;
}
p {
	color: $color_5;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
	font-family: $font-family_3;
}
.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.service-col-1 {
	flex-basis: 31%;
	background: #FFFFFF;
	border-radius: 10px;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
	&:hover {
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
	}
}
.service-col-2 {
	flex-basis: 31%;
	background: #FFFFFF;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
	&:hover {
		box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
	}
}
.tooth-image {
	padding-top: 10px;
	width: 60px;
}
h3 {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
	font-family: $font-family_4;
	color: $color_4;
}

/* Services Styling Ends here*/