body{
    background-color: #ffebcf;
    font-family: Arial, Helvetica, sans-serif;
}

.time-select ul {
    padding: 0; 
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}

#calendar{
    color: #DC8665;;
    margin: 30px 0px;
}

.slot_picker{
    background-color: rgb(255,255,255);
    color: rgb(171,171,171);
    margin: 8vh 7.5vw ;
    padding: 2vh 15vw 2vh 5vw;
    border-radius: 30px;
}

#slot_picker_title{
    margin: 40px 0px;
}

.select{
    display: flex;
    justify-content: space-between;
}

.time{
    border: solid rgb(171,171,171) 1px;
    padding: 2vh 3.5vw;
    border-radius: 10px;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    background-color: white;
    font-size: medium;
}
.date{
    margin: 20px 0px;
}

.time:hover{
    background-color: #EEB462;
    color: rgb(255,255,255);
}

.book-appointment-button{
    text-align: center;
    

    
}
.book-appointment-submit{
    color: white;
    background-color: #EEB462;
    width: 17vw;
    height: 7.5vh;
    border-radius: 10px;
    border: 0px;
    transition: 0.25s ease-in-out 0.1s;
    font-size: large;
    cursor: pointer;

    &:hover{
        box-shadow: 0px 0px 10px 4px #EEB462;
    }
}
.hidden-date-object{
    visibility: hidden;
}