// CHANGE :: add styling for the chat box
#user-chat-box{
    height: 91vh;
	background: white;
	padding: 5px;
	// box-shadow: 1px 1px 1px 1px lightgrey;

    #chat-messages-list{
    	list-style: none;
	    padding: 10px;
	    height: 70%;
	    background-color: white;
	    overflow: auto;

	    .other-message{
		    text-align: left;

		    // padding: 5px;
		    div{
		    	display: inline-block;	
	    	// 	padding: 15px;
		    // 	background-color: #ffa0a0;
			// 	border-radius: 5px;
		    }
		    
	    }

	    .self-message{
		    text-align: right;
		    // padding: 5px;
		   
		    div{
		    	 
	    		display: inline-block;
	    	// 	padding: 15px;
    		// 	background-color: #a0dcff;
		    }
		   
	    }

    }
    #chat-message-input-container{
    	    height: 40px;
		    width: 100%;
		    display: flex;
		    flex-direction: row;

		    #chat-message-input{
	    	    height: 100%;
    			width: 95%;
		    }

		    #send-message{
				// background-image: url('../images/send.png');
	    	    height: 100%;
			    width: auto;
			    font-size: 25px;
			    color: white;
			    border: none;
			    background: white;
		    }
	    }
}

.chat-section-container{
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	height:auto;
	// text-align: center;
}

.chat-section-image{
	width:40px;
	height:40px;
	border-radius: 50%;
	border: 1px solid white;
	margin-right:15px;
	
}

.chat-section-text{
	max-width: 80%;
	height:auto;
	text-align: justify;

}

.chat-section-time-date{
	max-width: 60%;
	font-size: 12px;
	text-align: left;
	
}

.chat-section-main-text{
	background-color: rgb(130, 204, 221);
	border-radius: 5px;
	padding: 20px;
	margin-right: 10px;
}
.image-div{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	// position: relative;
}