#head1{
    margin-left: 32.5vw ;
    margin-right: 32.5vw;
    line-height: 2.5rem;
}

#head2{
    line-height: 2.5rem;
    margin: 5vh 0 7.5vh 0;
}

body{
    margin: 0;
}

#booking{
    background-color: #a9c4fd;
    padding: 2vh;
   
}

#header{
   line-height: 60px;
   margin: 20px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   color: #2B2929 ;
}

#form
{
    margin-left: 20%;
    margin-bottom: 10vh;
    width: 70%;    
}

.input-bar{
    font-size: 16px;
    padding: 20px 30px;
    margin: 5px;
    width:26%;
    border-radius: 30px;
    border: none;
}

.input-bar:focus{
    outline: 0;
}

#submit{
    font-size: 16px;
    padding: 20px 10px;
    margin: 5px;
    width: 19%;
    border-radius: 30px;
    border: none;
    background-color: #204ea5;
    color: azure;
}

#submit:hover{
    color: #204ea5;
    background-color: azure;
    cursor: pointer;
}