$color_1: #fff;
$color_2: white;
$background-color_1: #DC8665;
$background-color_2: #fff;
$background-color_3: #EEB462;

* {
	margin: 0;
	padding: 0;
}
.contact-container {
	background-color: $background-color_1;
	padding: 50px 50px;
	.contact-para {
		margin-bottom: 40px;
	}
}
.contact-box {
	display: flex;
}
.contact-left {
	background-color: $background-color_2;
	width: 80%;
	flex-basis: 60%;
	padding: 40px 60px;
}
.contact-right {
	background-color: $background-color_3;
	color: $color_1;
	width: 80%;
	flex-basis: 40%;
	padding: 40px;
}
.contact-header {
	margin-bottom: 10px;
}
.input-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	.input-group {
		flex-basis: 45%;
	}
}
.input-area {
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
}
.text-area {
	width: 100%;
	border: 1px solid #ccc;
	outline: none;
	padding: 10px;
	box-sizing: border-box;
}
.contact-label {
	margin-bottom: 6px;
	display: block;
}
.contact-button {
	background: $background-color_3;
	width: 100px;
	border: none;
	outline: none;
	color: $color_2;
	height: 35px;
	border-radius: 30px;
	margin-top: 20px;
	box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
	cursor: pointer;
	&:hover {
		background: $background-color_1;
		box-shadow: 0px 5px 15px 0px rgba(27, 0, 181, 0);
	}
}

.contact-left .header-h3{
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right .header-h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}

.control-header{
    text-align: center;
}