$color_1: var(--color-dark-grey);
$color_2: var(--color-pink);
$color_3: gray;
$color_4: white;
$color_5: #EEB462;
$background-color_1: #ffebcf;
$background-color_2: #ffebcf;
$background-color_3: white;
$background-color_4: #EEB462;
$border-color_1: white;
$border-color_2: gray;

body {
	background-color: $background-color_1;
	font-family: 'Noto Sans JP', sans-serif;
	margin-top: 10px;
	padding: 0;
}

#content {
	display: flex;
	flex-direction: row;
	margin: 0px 0px 0px 7rem;
	.form-section {
		padding-top: 70px;
		width: 50vw;
		height: 50vh;
		.container-box {
			border-color: $border-color_1;
			background-color: $background-color_3;
			height: 75vh;
			width: 37vw;
			border-radius: 30px;
			margin-top: 10px 0px 0px 45px;
			.container {
				color: $color_3;
				padding-top: 40px;
				.text {
					font-size: 25px;
					margin: 0px 0px 20px 0px;
				}
				.form {
					display: flex;
					flex-direction: column;
					align-content: center;
					text-align: center;
					.input {
						border-color: $border-color_2;
						height: 45px;
						width: 63%;
						border-radius: 30px;
						padding: 0 20px 0 20px;
						margin: 20px 0px 0px 0px;
						border-width: 1px;
					}
					.input-s {
						border-color: $border-color_2;
						height: 45px;
						width: 37%;
						border-radius: 30px;
						padding: 0 20px 0 20px;
						margin: 20px 5px 0px 5px;
						border-width: 1px;
					}
					.div3 {
						font-size: 11px;
						text-align: right;
						margin: 15px 100px 0px 0px;
					}
					.div8 {
						font-size: 16px;
						margin: 15px 0px 0px 0px;
						.gt {
							margin: 0px 30px 0px 0px;
						}
					}
					.check {
						width: 18px;
						height: 18px;
						margin: 0px 10px 0px 0px;
					}
					.div4 {
						font-size: 11px;
						text-align: center;
						margin: 20px 0px;
					}
					.main-btn {
						border-color: $border-color_2;
						height: 45px;
						width: 70%;
						border-radius: 30px;
						margin: 10px 0px 0px 0px;
						border-width: 1px;
						text-align: center;
						cursor: pointer;
					}
					.div7 {
						font-size: 11px;
						text-align: center;
						margin: 20px 0px 0px 0px;
						
					}
				}
			}
		}
	}
	.image-section {
		width: 50vw;
		height: 50vh;
		.div1 {
			.text {
				padding-top: 100px;
				font-size: 55px;
				font-weight: bold;
				padding-bottom: 50px;
				margin: 0px 0px 20px 0px;
				color: #DC8665;
				padding-left: 70px;
			}

			img{
                padding-left: 70px;
                width: 50%;
            }
		}
	}
}
#btn {
	background-color: $background-color_4;
	color: $color_4;
}
#pink a{
	color: $color_5;
	text-decoration: none;
}
#center {
	text-align: center;
}
#mr {
	margin-right: 30px;
}
#txt-dec-none{
	text-decoration: none;
}
input[type='radio'] {
	&:after {
		width: 20px;
		cursor: pointer;
		height: 20px;
		border-radius: 50%;
		top: -2px;
		left: -1px;
		position: relative;
		background-color: $background-color_2;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 1px solid black;
	}
	&:checked {
		&:after {
			width: 20px;
			height: 20px;
			cursor: pointer;
			border-radius: 50%;
			top: -2px;
			left: -1px;
			position: relative;
			background-color: $background-color_4;
			content: '';
			display: inline-block;
			visibility: visible;
			border: 1px solid rgb(0, 0, 0);
		}
	}
}
input[type='checkbox'] {
	&:after {
		width: 20px;
		height: 20px;
		// border-radius: 50%;
		top: -2px;
		left: -1px;
		position: relative;
		background-color: $background-color_2;
		content: '';
		display: inline-block;
		visibility: visible;
		border: 1px solid black;
	}
	&:checked {
		&:after {
			width: 20px;
			height: 20px;
			// border-radius: 50%;
			top: -2px;
			left: -1px;
			position: relative;
			background-color: $background-color_4;
			color: white;
			content: '';
			display: inline-block;
			visibility: visible;
			border: 1px solid rgb(0, 0, 0);
		}
	}
}



