$color_1: #fff;
$color_2: rgb(32,78,165);
$background-color_1: rgb(169,196,253);
$border-bottom-color_1: transparent;

@keyframes animate {
	0% {
		transform: translate(-50%,-50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%,-50%) rotate(360deg);
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
video {
	&::cue {
		opacity: 0;
	}
}
.material-icons {
	user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}
body {
	background-color: $background-color_1;
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: auto;
	width: 100%;
	padding: 0;
}
.container {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	.video_player {
		position: relative;
		width: 700px;
		height: 100%;
		background: #000;
		overflow: hidden;
		.loader {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			width: 60px;
			height: 60px;
			border: 4px solid #fff;
			border-bottom-color: $border-bottom-color_1;
			border-radius: 50%;
			z-index: 1;
			animation: animate 0.6s linear infinite;
			display: none;
		}
		.thumbnail {
			position: absolute;
			bottom: 80px;
			left: calc(var(--x) + 11px);
			transform: translateX(-50%);
			width: 165px;
			height: 90px;
			background: #fff;
			border: 2px solid #fff;
			border-radius: 3px;
			display: none;
		}
		.main-video {
			position: relative;
			width: 100%;
			height: 100%;
			outline: none;
		}
		.controls {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 50px;
			width: 100%;
			background: rgb(0 0 0 / 29%);
			box-shadow: 0 0 40px 10px rgb(0 0 0 / 25%);
			z-index: 3;
			transform: translateY(180%);
			transition: 0.3s;
			padding: 0px 10px;
		}
		.controls.active {
			transform: translateY(0);
		}
	}
}
.video_player {
	.progressAreaTime {
		position: absolute;
		left: calc(var(--x) + 11px);
		transform: translateX(-50%);
		bottom: 50px;
		min-width: 60px;
		text-align: center;
		white-space: nowrap;
		padding: 5px 10px;
		color: $color_1;
		font-size: 14px;
		font-weight: 400;
		z-index: 1;
		display: none;
	}
	.controls {
		.progress-area {
			width: 100%;
			height: 5px;
			margin: auto;
			background: #f0f0f063;
			cursor: pointer;
			position: relative;
		}
	}
	.captions {
		position: absolute;
		right: 25px;
		bottom: 62px;
		background: rgb(28 28 28 / 90%);
		width: 200px;
		max-height: 250px;
		height: auto;
		color: $color_1;
		overflow-y: auto;
		z-index: 20;
		display: none;
		border-radius: 5px;
		.caption {
			span {
				font-size: 14px;
				font-weight: 300;
				padding: 15px 30px;
				border-bottom: 1px solid rgb(83, 83, 83);
				display: flex;
				justify-content: space-between;
				align-items: center;
				white-space: nowrap;
			}
		}
	}
	.settings {
		position: absolute;
		right: 25px;
		bottom: 62px;
		background: rgb(28 28 28 / 90%);
		width: 200px;
		max-height: 250px;
		height: auto;
		color: $color_1;
		overflow-y: auto;
		z-index: 20;
		display: none;
		border-radius: 5px;
		>div {
			>span {
				font-size: 14px;
				font-weight: 300;
				padding: 15px 30px;
				border-bottom: 1px solid rgb(83, 83, 83);
				display: flex;
				justify-content: space-between;
				align-items: center;
				white-space: nowrap;
			}
			.icon {
				font-size: 14px;
				margin: 0 5px;
				cursor: pointer;
			}
			ul {
				li {
					span {
						pointer-events: none;
					}
				}
			}
		}
	}
	.captions.active {
		display: block;
	}
	.settings.active {
		display: block;
	}
}
.controls {
	.progress-area {
		.progress-bar {
			position: relative;
			width: 0%;
			background: rgba(200,112,160,255);
			height: inherit;
			border-radius: inherit;
			cursor: pointer;
			&::before {
				content: "";
				position: absolute;
				width: 14px;
				height: 14px;
				border-radius: 50%;
				right: -5px;
				top: 50%;
				transform: translateY(-50%);
				background: rgba(200,112,160,255);
			}
		}
		.bufferedBar {
			position: absolute;
			top: 0%;
			right: 0%;
			width: 100%;
			height: inherit;
		}
	}
	.controls-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		width: 97%;
		height: 46px;
		margin: 0 auto;
		.controls-left {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.controls-right {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.controls-left {
		.timer {
			display: inline-block;
			font-size: 14px;
			white-space: nowrap;
			color: $color_1;
			margin-left: 5px;
			text-align: center;
		}
	}
	.icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		color: $color_1;
		margin-left: 8px;
		margin-right: 5px;
		.material-icons {
			font-size: 26px;
			color: $color_1;
			cursor: pointer;
		}
		.material-icons.fast-rewind {
			&:active {
				transition: 0.2s;
				transform: rotate(-45deg);
			}
		}
		.material-icons.fast-forward {
			&:active {
				transition: 0.2s;
				transform: rotate(45deg);
			}
		}
		.volume_range {
			-webkit-appearance: none;
			appearance: none;
			width: 0px;
			height: 3px;
			background: #fff;
			color: $color_1;
			cursor: pointer;
			outline: none;
			border: none;
			transition: 0.4s;
			&::-webkit-slider-thumb {
				-webkit-appearance: none;
				appearance: none;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				border: none;
				outline: none;
				background: #fff;
				color: $color_1;
				opacity: 0;
				transition: 0.3s;
			}
		}
		&:hover {
			.volume_range {
				display: inline-block;
				width: 60px;
				&::-webkit-slider-thumb {
					opacity: 1;
					pointer-events: auto;
					transition: 0.5s;
				}
			}
		}
	}
}
.controls-right {
	.icon {
		.auto-play {
			width: 30px;
			height: 10px;
			border-radius: 20px;
			position: relative;
			margin-right: 8px !important;
			background: #b6b6b6;
			&::before {
				content: "\e034";
				position: absolute;
				left: -5px;
				top: 50%;
				transform: translateY(-50%);
				width: 17px;
				height: 17px;
				line-height: 17px;
				font-size: 14px;
				background: #727272;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				border-radius: 50%;
			}
		}
		.auto-play.active {
			&::before {
				content: "\e037";
				left: 15px;
			}
		}
		.material-icons.settingsBtn {
			font-size: 24px;
			transition: 0.3s;
		}
		.settingsBtn.active {
			transform: rotate(45deg);
		}
	}
}
.text {
	text-align: center;
	margin: 5% 0 5% 0;
}
.designation {
	color: $color_2;
}
.definition {
	font-weight: bolder;
	font-size: larger;
}
@media (max-width: 430px) {
	.container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.controls {
		.icon {
			margin-left: 5px;
			margin-right: 5px;
			font-size: 24px;
		}
	}
	.volume {
		display: none;
	}
	.volume_range {
		display: none;
	}
	.auto-play {
		display: none;
	}
	.fast-forward {
		display: none;
	}
	.picture_in_picutre {
		display: none;
	}
}
