/* header */
body {
  margin: 0;
  padding: 0;
  margin-left: 7rem; }

#header {
  background-color: #fff4fd;
  margin: 2rem 0px;
  position: relative;
  display: flex; }
  #header .logo {
    font-size: 2.5rem;
    color: #6b6b6b;
    position: relative;
    top: 0.5rem; }
    #header .logo:hover {
      font-size: 2.5rem;
      color: #e70390;
      position: relative;
      top: 0.5rem;
      cursor: pointer; }
  #header span span {
    color: #e70390; }

.horizontal-list {
  list-style: none;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around; }
  .horizontal-list li {
    margin: 1rem 1.5rem;
    text-decoration: none; }
    .horizontal-list li a {
      color: #757575;
      text-decoration: none; }
      .horizontal-list li a:hover {
        color: #e70390;
        text-decoration: none; }

/* signin register buttons */
.button {
  position: relative;
  left: 10rem; }
  .button .sign a {
    border: 1px solid #757575;
    padding: 0.75rem 2.25rem;
    border-radius: 2rem;
    background-color: white; }
    .button .sign a:hover {
      border-color: transparent;
      padding: 0.75rem 2.25rem;
      border-radius: 2rem;
      background-color: #e70390;
      color: white; }
  .button .reg a {
    padding: 0.75rem 2.25rem;
    border-radius: 2rem;
    background-color: #e70390;
    color: white; }
    .button .reg a:hover {
      border: 1px solid #e70390;
      padding: 0.75rem 2.25rem;
      border-radius: 2rem;
      background-color: white;
      color: #e70390; }
