* {
  margin: 0;
  padding: 0; }

body {
  background-color: #ffbdde2d; }

/*Intro Section Starts Here*/
#intro {
  background-color: #fff4fd;
  margin-top: 2rem;
  margin-left: 7rem;
  position: relative; }
  #intro .main-content {
    display: inline-block;
    width: 45%;
    padding-top: 3rem; }
  #intro .home-image {
    display: inline-block;
    width: 40%;
    vertical-align: top; }
    #intro .home-image img {
      margin: 0px 2rem;
      height: 650px; }

.main-content .header-division {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.3rem;
  color: var(--color-dark-grey);
  font-weight: bolder;
  margin: 2rem 0px; }
  .main-content .header-division img {
    position: relative;
    bottom: 4px; }

.main-content .heading-bold {
  font-family: "Noto Sans", sans-serif;
  font-size: 4.5rem;
  line-height: 5.2rem; }

.main-content .content-heading {
  margin: 2rem 0px 3rem 0px;
  color: var(--color-light-grey);
  font-size: 2rem;
  line-height: 2.5rem; }

.main-content a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  background-color: #204EA5;
  padding: 0.7rem 2rem;
  border-radius: 1rem;
  transition: 0.5s ease-in-out; }
  .main-content a:hover {
    box-shadow: 1px 1px 30px #204EA5; }

/*Intro Section Ends Here*/
/*Services Styling Starts Here*/
.services {
  margin-right: 7rem;
  margin-left: 7rem;
  text-align: center;
  padding-top: 100px; }

.services h1 {
  font-size: 36px;
  font-weight: 600;
  color: #204EA5; }

.services p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px; }

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between; }

.service-col-1 {
  flex-basis: 31%;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s; }
  .service-col-1:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2); }

.service-col-2 {
  flex-basis: 31%;
  background: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s; }
  .service-col-2:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2); }

.tooth-image {
  padding-top: 10px;
  width: 60px; }

.services h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: #204EA5; }

/* Services Styling Ends here*/
