#user-chat-box {
  height: 91vh;
  background: white;
  padding: 5px; }
  #user-chat-box #chat-messages-list {
    list-style: none;
    padding: 10px;
    height: 70%;
    background-color: white;
    overflow: auto; }
    #user-chat-box #chat-messages-list .other-message {
      text-align: left; }
      #user-chat-box #chat-messages-list .other-message div {
        display: inline-block; }
    #user-chat-box #chat-messages-list .self-message {
      text-align: right; }
      #user-chat-box #chat-messages-list .self-message div {
        display: inline-block; }
  #user-chat-box #chat-message-input-container {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #user-chat-box #chat-message-input-container #chat-message-input {
      height: 100%;
      width: 95%; }
    #user-chat-box #chat-message-input-container #send-message {
      height: 100%;
      width: auto;
      font-size: 25px;
      color: white;
      border: none;
      background: white; }

.chat-section-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: auto; }

.chat-section-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 15px; }

.chat-section-text {
  max-width: 80%;
  height: auto;
  text-align: justify; }

.chat-section-time-date {
  max-width: 60%;
  font-size: 12px;
  text-align: left; }

.chat-section-main-text {
  background-color: #82ccdd;
  border-radius: 5px;
  padding: 20px;
  margin-right: 10px; }

.image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }
