@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

video::cue {
  opacity: 0; }

.material-icons {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer; }

.video-body {
  background-color: #a9c4fd;
  padding-top: 50px;
  padding-bottom: 70px;
  width: 100%; }

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: auto;
  width: 100%;
  padding: 0; }

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; }
  .container .video_player {
    position: relative;
    width: 700px;
    height: 100%;
    background: #000;
    overflow: hidden; }
    .container .video_player .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60px;
      height: 60px;
      border: 4px solid #fff;
      border-bottom-color: transparent;
      border-radius: 50%;
      z-index: 1;
      animation: animate 0.6s linear infinite;
      display: none; }
    .container .video_player .thumbnail {
      position: absolute;
      bottom: 80px;
      left: calc(var(--x) + 11px);
      transform: translateX(-50%);
      width: 165px;
      height: 90px;
      background: #fff;
      border: 2px solid #fff;
      border-radius: 3px;
      display: none; }
    .container .video_player .main-video {
      position: relative;
      width: 100%;
      height: 100%;
      outline: none; }
    .container .video_player .controls {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 50px;
      width: 100%;
      background: rgba(0, 0, 0, 0.29);
      box-shadow: 0 0 40px 10px rgba(0, 0, 0, 0.25);
      z-index: 3;
      transform: translateY(180%);
      transition: 0.3s;
      padding: 0px 10px; }
    .container .video_player .controls.active {
      transform: translateY(0); }

.video_player .progressAreaTime {
  position: absolute;
  left: calc(var(--x) + 11px);
  transform: translateX(-50%);
  bottom: 50px;
  min-width: 60px;
  text-align: center;
  white-space: nowrap;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  z-index: 1;
  display: none; }

.video_player .controls .progress-area {
  width: 100%;
  height: 5px;
  margin: auto;
  background: #f0f0f063;
  cursor: pointer;
  position: relative; }

.video_player .captions {
  position: absolute;
  right: 25px;
  bottom: 62px;
  background: rgba(28, 28, 28, 0.9);
  width: 200px;
  max-height: 250px;
  height: auto;
  color: #fff;
  overflow-y: auto;
  z-index: 20;
  display: none;
  border-radius: 5px; }
  .video_player .captions .caption span {
    font-size: 14px;
    font-weight: 300;
    padding: 15px 30px;
    border-bottom: 1px solid #535353;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap; }

.video_player .settings {
  position: absolute;
  right: 25px;
  bottom: 62px;
  background: rgba(28, 28, 28, 0.9);
  width: 200px;
  max-height: 250px;
  height: auto;
  color: #fff;
  overflow-y: auto;
  z-index: 20;
  display: none;
  border-radius: 5px; }
  .video_player .settings > div > span {
    font-size: 14px;
    font-weight: 300;
    padding: 15px 30px;
    border-bottom: 1px solid #535353;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap; }
  .video_player .settings > div .icon {
    font-size: 14px;
    margin: 0 5px;
    cursor: pointer; }
  .video_player .settings > div ul li span {
    pointer-events: none; }

.video_player .captions.active {
  display: block; }

.video_player .settings.active {
  display: block; }

.controls .progress-area .progress-bar {
  position: relative;
  width: 0%;
  background: #c870a0;
  height: inherit;
  border-radius: inherit;
  cursor: pointer; }
  .controls .progress-area .progress-bar::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    background: #c870a0; }

.controls .progress-area .bufferedBar {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: inherit; }

.controls .controls-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 97%;
  height: 46px;
  margin: 0 auto; }
  .controls .controls-list .controls-left {
    display: flex;
    justify-content: center;
    align-items: center; }
  .controls .controls-list .controls-right {
    display: flex;
    justify-content: center;
    align-items: center; }

.controls .controls-left .timer {
  display: inline-block;
  font-size: 14px;
  white-space: nowrap;
  color: #fff;
  margin-left: 5px;
  text-align: center; }

.controls .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  margin-left: 8px;
  margin-right: 5px; }
  .controls .icon .material-icons {
    font-size: 26px;
    color: #fff;
    cursor: pointer; }
  .controls .icon .material-icons.fast-rewind:active {
    transition: 0.2s;
    transform: rotate(-45deg); }
  .controls .icon .material-icons.fast-forward:active {
    transition: 0.2s;
    transform: rotate(45deg); }
  .controls .icon .volume_range {
    -webkit-appearance: none;
    appearance: none;
    width: 0px;
    height: 3px;
    background: #fff;
    color: #fff;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.4s; }
    .controls .icon .volume_range::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: none;
      outline: none;
      background: #fff;
      color: #fff;
      opacity: 0;
      transition: 0.3s; }
  .controls .icon:hover .volume_range {
    display: inline-block;
    width: 60px; }
    .controls .icon:hover .volume_range::-webkit-slider-thumb {
      opacity: 1;
      pointer-events: auto;
      transition: 0.5s; }

.controls-right .icon .auto-play {
  width: 30px;
  height: 10px;
  border-radius: 20px;
  position: relative;
  margin-right: 8px !important;
  background: #b6b6b6; }
  .controls-right .icon .auto-play::before {
    content: "\e034";
    position: absolute;
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    line-height: 17px;
    font-size: 14px;
    background: #727272;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%; }

.controls-right .icon .auto-play.active::before {
  content: "\e037";
  left: 15px; }

.controls-right .icon .material-icons.settingsBtn {
  font-size: 24px;
  transition: 0.3s; }

.controls-right .icon .settingsBtn.active {
  transform: rotate(45deg); }

.text {
  text-align: center;
  margin: 5% 0 5% 0; }

.designation {
  color: #204ea5; }

.definition {
  font-weight: bolder;
  font-size: larger; }

@media (max-width: 430px) {
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .controls .icon {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 24px; }
  .volume {
    display: none; }
  .volume_range {
    display: none; }
  .auto-play {
    display: none; }
  .fast-forward {
    display: none; }
  .picture_in_picutre {
    display: none; } }
